body, html {
  margin: 0;
  background-color: #11051B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

