<!DOCTYPE html>
<html>
  <head>
    <title>SezzleMathChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'home' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
